
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />

</head>
<body>

  <div class="container mx-auto my-8">
    <h2 class="text-3xl font-semibold mb-4">Your Form Title</h2>


    <form method="post" action="{% url 'form' %}" class="space-y-4">
      {% csrf_token %}

      {% for field in form %}
        <div>
          <label class="block text-sm font-medium text-gray-700">{{ field.label_tag }}</label>
          {{ field  }}
          {% if field.errors %}
            <p class="text-red-500 text-sm">{{ field.errors|striptags }}</p>
          {% endif %}
        </div>
      {% endfor %}
      

      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
    </form>

  </div>
  
</body>