
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    
</head>

<body class="w-fit h-fit">

    {% csrf_token %}
    <div> Sou um careca raivoso</div>
    <div class="flex justify-center flex-col outline outline-2 outline-red-800 space-y-20 py-8 w-screen h-fit">
        <div class="flex justify-center">
            <a class="btn btn-outline btn-success" href="{%url 'image1'%}">Point Cloud 1 - David</a>

        </div>

        <div class="flex justify-center">
            <a class="btn btn-outline btn-success" href="{%url 'image2'%}">Point Cloud 2 - Sarah</a>

        </div>

        <div class="flex justify-center">
            <a class="btn btn-outline btn-success" href="{%url 'image3'%}">Point Cloud 3 - Andrew</a>
        </div>

        <div class="flex justify-start">
            <a class="btn btn-outline btn-success" href="{%url 'form'%}">Formulário</a>
        </div>

    </div>
</body>